/* header */
.header{
	background: #353b49;
	padding: 1em 0;
}
.logo{
	display: inline-block;		
	margin-top: 1em;
}
.logo img{	
	max-width: 252px;
	width: 100%;
}
.menu li a{
	font-size: 1em;
	color: #fff;
	text-decoration: none;
}
.menu li a:hover{
	color: #ff364c;
}
.logo-menu{
	position: relative;
}
#nav-toggle{
    position: absolute;
    right: 0;
    top: 47%;
}
#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  right: 0;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}


/* header */



/* banner */
.banner{
	background-image: url(../images/bg-banner.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 14em 0;
}
/* banner */



/* botoes */
.btn-medium {
    color: #FFF;
    background: #04112C;
    text-decoration: none;
    padding: 1em 3em;
    display: inline-block;
    margin: 1em 0;
    text-transform: uppercase;
}
.btn-medium:hover {
    color: #04112C;
    background: #fff;
    border: 1px #04112C solid;
}
.btn-large{
	background-color: #FF364C;
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.4em;
	text-decoration: none;
	padding: .8em 1.8em;
	margin: .5em 0;
	display: inline-block;
}
.btn-large:hover{
	background-color: #04112C;
	border:1px #FFF solid;	
}
/* botoes */




/* Sobre nos */
.sobre-nos{	
}
.icone-sobre-nos{
	background: url(../images/icones-sobre-nos.png) no-repeat;
	display: block;
	width: 52px;
	height: 44px;
	margin: 0 auto;
}
/* sobre nos */





/* formulario de contato */
.form-contato{}
.box-fields{
	margin-bottom: 1em;
}

.box-fields label{
	color: #f00;
}
.box-textarea {
    margin-bottom: 0;
}
.box-fields, .box-fields span{
	display: block;
}
.box-fields span {
    margin-bottom: .4em;
    font-size: 1.2em;
}
.input-default {
    border: 1px #04112c solid;
    font-size: .8em;
    padding: .8em 1em;
    width: 100%;
    margin-bottom: .6em;
    box-sizing: border-box;
    outline: none;
}
.input-default.error, .box-message.error{
	border: 1px #f00 solid;
	background-color: #fee5e5;
}
.box-message{
	border: 1px #04112c solid;
	width: 100%;
	min-height: 100px;
	box-sizing: border-box;
	font-size: .8em;
	padding: .8em 1em;
	margin-bottom: .6em;
}
.btn-enviar{
	width: 100%;
	border: none;
	font-size: 1em;
}
.btn-enviar:hover{
	cursor: pointer;
}
.texto-rodape{
    text-align: center;
    font-size: 1em;
    color: #999;
    margin-top: 2em;
}
/* formulario de contato */






/*localizacao*/
.localizacao{
	padding: 16em 0;
	background-image: url(../images/imagem-mapa.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;
}
.localizacao .conteudo{
	background: rgba(53,59,73, .9);
    padding: 2em;
    max-width: inherit;
    position: absolute;
    top: 0;
}
.localizacao .conteudo h2{
	color: #fff;
	margin: 0 auto;
}
/*localizacao*/


.rodape{}





/* SOMENTE MOBILE */
@media (max-width: 480px) { 
	.logo {		
		text-align: left;
	}
	.logo img {
		width: 75%;		
	}

	.btn-large {    
    	padding: .8em 1em;
    }
    
}
/* SOMENTE MOBILE */

/* SOMENTE TABLET */
@media (min-width: 481px) and (max-width: 1023px) {	
}
/* SOMENTE TABLET */


/* TABLET e MOBILE */
@media (max-width: 1023px) { 
	.menu li {
	    text-align: center;	    
	    border-bottom: 1px #FFF solid;
	} 
	.menu li a {	 
	    color: #FFF;
	    display: block;
	    padding: .8em;
	    font-size: 1.2em;
	}
	.menu-drop{
		display: block;
	}
	.box-menu{
		display: none;
		margin-top: 1em;
	}	
	.btn-medium {
	    width: 100%;
	    padding: 1.6em 0;
	}
}
/* TABLET e MOBILE */

/* TABLET e DESK */
@media (min-width: 481px) {    
}
/* TABLET e DESK */

/* SOMENTE DESK */
@media (min-width: 1024px) {
	.box-menu{
		line-height: 4em;
		display: block !important;
	}	
	.menu{
		float: right;
	}
	.menu li{
		float: left;
	}
	.menu li a{		
		padding: 1em;
	}
	.menu-drop{
		display: none;
	}
	.content-banner {
	    max-width: 1000px;
	    display: inherit;
	    margin: 0 auto;
	}	
}
/* SOMENTE DESK */